# --- Python generelles ---
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.so

# --- Virtuelle Umgebungen ---
.venv/
venv/
.env/

# --- uv Build Cache ---
.uv/
uv.lock

# --- Distribution / Packaging ---
build/
dist/
*.egg-info/
.eggs/

# --- Sphinx-Dokumentation ---
docs/build/
docs/_build/
docs/_static/
docs/_templates/
docs/doctrees/

# --- Testkram ---
.coverage
htmlcov/
.coverage.*

# --- Editor / IDE Files ---
.vscode/
.idea/
*.swp
*~
*.iml

# --- OS Files ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log

# --- Jupyter (falls mal benutzt) ---
.ipynb_checkpoints/

# --- Weitere Dateiformate ausschließen ---
*.xml
*.csv
*.TXT
*.json
*.png

# MATLAB
# -----------------
*.m~                    # Autosaves
*.asv                   # Windows Autosave
*.mex*                  # Compiled MEX
octave-workspace        # Octave Session

# Simulink
# -----------------
*.slx.original          # Backup-Dateien
*.autosave              # Autosave
*.slxc                  # Cache Files
apps/Matlab/slprj/              # Code Generation Cache
apps/Matlab/sccprj/                 # Stateflow Cache
apps/Matlab/codegen/                # Code Generation
apps/Matlab/*.slxc
apps/Matlab/*.original
apps/Matlab/*.autosave
apps/Matlab/*.mat  # Cache .mat
apps/Matlab/.m/                     # MATLAB Runtime Cache

**/slprj/

# Packaged Files
*.mlappinstall
*.mltbx

# Logs & Temp
*.log
matlab_crash_dump*
*.sessionState*

# Video- und Bilddateien
*.avi
*.mp4
*.jpg
*.jpeg
*.png
apps/sys_id/Video/
apps/sys_id/builds/

MUJOCO_LOG.TXT